
table {
    text-align: left;
    border-collapse: collapse;
}

th {
    background: #F5E2C0;
    padding: 10px;
}

td {
    padding: 7px;
    color: #000000;
}

tr:hover{
    background: #F4F6F6;
    cursor: pointer;
}


@media screen and (max-width:780px) {
    table {
        width: 80%;
    }
}